/* General
---------------------------------------------------------*/
*,
:after,
:before {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
    color: black;
}

div#toolbar {
    padding: 1.5em;
    width: 100%;
    text-align: center;
}

div#toolbar input[type=button],
input[type=submit],
input[type=reset] {
    background-color: navy;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 32px;
    text-decoration: none;
    cursor: pointer;
}

div#mainContent {
    padding: 1em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.0rem;
    color: #000;
    border-bottom: 6px solid navy;
    background-color: #f0f0f0;
    border-radius: 5px;
}

div#mainContent h1 {
    color: navy;
    text-shadow: 1px 1px #a0a0a0;
    margin: 0 0 1.5em 0;
    font-size: 1.5rem;
}

div#mainContent h2 {
    margin: 0 0 1.5em 0;
    font-size: 1.5rem;
}

div#mainContent ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#mainContent label {
    color: navy;
    font-weight: bold;
}

div#mainContent form {
    margin-top: 1em;
    text-align: left;
}

div#mainContent input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
}

div#mainContent a:link {
    color: navy;
    text-decoration: none;
}

div#mainContent a:visited {
    color: navy;
    text-decoration: none;
}

div#mainContent a:hover {
    color: rgb(26, 39, 214);
    text-decoration: none;
}

div#mainContent a:active {
    color: navy;
    text-decoration: none;
}

div#mainContent th {
    white-space: nowrap;
}

div#status table th {
    white-space: normal;
    padding: 5px;
    color: navy;
}

div#status table td {
    white-space: nowrap;
}

div#status input[type=button],
input[type=submit],
input[type=reset] {
    background-color: rgb(158, 71, 71);
    border: none;
    color: white;
    font-weight: bold;
    margin: .2em;
    width: 150px;
    text-decoration: none;
    cursor: pointer;
}

select {
    position: relative;
    background: white;
    color: #333;
    padding: .5em;
    cursor: pointer;
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

option {
    padding: 1em;
}

input[type=text] {
    padding: .5em;
}

/* Desktop
---------------------------------------------------------*/

@media (min-width: 800px) {
    div#mainContent h1 {
        font-size: 2.0rem;
    }

    div#mainContent {
        max-width: 768px;
    }
}